#icon_checkmark_gray {
  font-family: "ols";
  content: "\E001";
}

#icon_location {
  font-family: "ols";
  content: "\E002";
}

#icon_reveal {
  font-family: "ols";
  content: "\E003";
}

#icon_user_blank {
  font-family: "ols";
  content: "\E004";
}

