pre.code-toolbar {
  position: relative;
}

pre.code-toolbar > .toolbar {
  position: absolute;
  bottom: 5px;
  right: -5px;
}

pre.code-toolbar > .toolbar a {
  color: #bbb;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  margin-right:5px;
  background: rgba(224,224,224,.2);
}

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar a.zeroclipboard-is-hover {
  color: inherit;
}