/*
 * Importing variables and mixins to keep this file clean
 *
 */
@import '../variables.less';
@import '../mixins.less';

.intro {
  padding:35px 15px;
  margin-bottom:30px;
  color:white;
  font-size:16px;
  font-weight:200;
  background: -webkit-linear-gradient(90deg, @col_base_3 10%, @col_base_4 90%);
  background:    -moz-linear-gradient(90deg, @col_base_3 10%, @col_base_4 90%);
  background:     -ms-linear-gradient(90deg, @col_base_3 10%, @col_base_4 90%);
  background:      -o-linear-gradient(90deg, @col_base_3 10%, @col_base_4 90%);
  background:         linear-gradient(90deg, @col_base_3 10%, @col_base_4 90%);
}

.intro h1{
  margin:35px 0 35px 0;
  .ta-c();
}

.ols-tc-fadeit{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_fadeit);
}

.ols-tc-fadeit_c{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_fadeit_c);
}

.ols-tc-fadeit_gray{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_fadeit_gray);
}

.ols-tc-gray_1{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_1);
}

.ols-tc-gray_2{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_2);
}

.ols-tc-gray_3{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_3);
}

.ols-tc-gray_4{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_4);
}

.ols-tc-gray_5{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_5);
}

.ols-tc-gray_6{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_6);
}

.ols-tc-gray_7{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_7);
}

.ols-tc-gray_8{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_gray_8);
}

.ols-tc-text{
  .ta-c();
  .fl();
  .inline-block();
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_text);
}

.ols-tc-base_1{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_base_1);
}

.ols-tc-base_2{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_base_2);
}

.ols-tc-base_3{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_base_3);
}

.ols-tc-base_4{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@col_base_4);
}

.ols-tc-w{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@w);
}

.ols-tc-w_c{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@w_c);
}

.ols-tc-b{
  .ta-c();
  .fl();
  .inline-block();
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@b);
}

.ols-tc-ws{
  .ta-c();
  .fl();
  .inline-block();
  background-color:@b;
  width:200px;
  padding:8px 15px;
  margin-right:10px;
  .col(@ws);
}

.ols-bc-fadeit{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_fadeit, b);
}

.ols-bc-fadeit_c{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_fadeit_c, b);
}

.ols-bc-fadeit_gray{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_fadeit_gray, b);
}

.ols-bc-gray_1{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_1, b);
}

.ols-bc-gray_2{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_2, b);
}

.ols-bc-gray_3{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_3, b);
}

.ols-bc-gray_4{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_4, b);
}

.ols-bc-gray_5{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_5, b);
}

.ols-bc-gray_6{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_6, b);
}

.ols-bc-gray_7{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_7, b);
}

.ols-bc-gray_8{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_gray_8, b);
}

.ols-bc-text{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_text, b);
}

.ols-bc-base_1{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_base_1, b);
}

.ols-bc-base_2{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_base_2, b);
}

.ols-bc-base_3{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_base_3, b);
}

.ols-bc-base_4{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@col_base_4, b);
}

.ols-bc-w{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@w, b);
}

.ols-bc-w_c{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@w_c, b);
}

.ols-bc-b{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@b, b);
}

.ols-bc-ws{
  width:120px;
  height:35px;
  .fl();
  .inline-block();
  padding:8px 5px;
  margin-right:10px;
  .col(@ws, b);
}

.hex{
  width:120px;
  line-height: 35px;
  .inline-block();
  text-transform: uppercase;
}