.col(@color, @type){
  background-color: @color;
}

.col(@color){
  color: @color;
}

.b(){
  font-weight: bold;
}

.light(){
  font-weight: 300;
}

.i(){
  font-weight: italic;
}

.stretch(){
  width: 100%;
}

.stretch(@h){
  height: 100%;
}

.round(){
  .border-radius(50%);
}

.pointer(){
  cursor:pointer;
}

.upper(){
  text-transform: uppercase;
}

.lower(){
  text-transform:lowercase;
}

.placeholder-color(@color){
  ::-webkit-input-placeholder {
     color: @color;
  }

  :-moz-placeholder {
     color: @color;
  }

  ::-moz-placeholder {
     color: @color;
  }

  :-ms-input-placeholder {
     color: @color;
  }
}

.placeholder-animate(){
  ::-webkit-input-placeholder {
     .animate-opacity(@animation_time_v_short, @transition_default);
  }

  :-moz-placeholder {
     .animate-opacity(@animation_time_v_short, @transition_default);
  }

  ::-moz-placeholder {
     .animate-opacity(@animation_time_v_short, @transition_default);
  }

  :-ms-input-placeholder {
     .animate-opacity(@animation_time_v_short, @transition_default);
  }
}

.placeholder-hide(){
  ::-webkit-input-placeholder {
     opacity:0;
  }

  :-moz-placeholder {
     opacity:0;
  }

  ::-moz-placeholder {
     opacity:0;
  }

  :-ms-input-placeholder {
     opacity:0;
  }
}

.placeholder-show(){
  ::-webkit-input-placeholder {
     opacity:1;
  }

  :-moz-placeholder {
     opacity:1;
  }

  ::-moz-placeholder {
     opacity:1;
  }

  :-ms-input-placeholder {
     opacity:1;
  }
}

.border-box(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.background-size(@size){
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

.content-box(){
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.border-radius(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.animate(@time, @transition){
  -webkit-transition: all @time @transition;
  -moz-transition: all @time @transition;
  -ms-transition: all @time @transition;
  -o-transition: all @time @transition;
  transition: all @time @transition;
}

.animate-opacity(@time, @transition){
  -webkit-transition: opacity @time @transition;
  -moz-transition: opacity @time @transition;
  -ms-transition: opacity @time @transition;
  -o-transition: opacity @time @transition;
  transition: opacity @time @transition;
}

.animation-delay(@time){
  -webkit-animation-delay: @time;
  -moz-animation-delay: @time;
  -o-animation-delay: @time;
  -ms-animation-delay: @time;
  animation-delay: @time;
}

.transition-delay(@time){
  -webkit-transition-delay: @time;
  -moz-transition-delay: @time;
  -o-transition-delay: @time;
  -ms-transition-delay: @time;
  transition-delay: @time;
}

.no-animation(){
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.dropshadow(@properties){
  -webkit-box-shadow: @properties;
  -moz-box-shadow: @properties;
  box-shadow: @properties;
}

.no-select(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select(){
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.rotate(@degrees){
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.translateX(@amount){
  -webkit-transform: translateX(@amount);
  -moz-transform: translateX(@amount);
  -ms-transform: translateX(@amount);
  -o-transform: translateX(@amount);
  transform: translateX(@amount);
}

.translateY(@amount){
  -webkit-transform: translateY(@amount);
  -moz-transform: translateY(@amount);
  -ms-transform: translateY(@amount);
  -o-transform: translateY(@amount);
  transform: translateY(@amount);
}

.scale(@coeficient){
  transform:scale(@coeficient);
  -ms-transform:scale(@coeficient);
  -moz-transform:scale(@coeficient);
  -webkit-transform:scale(@coeficient);
  -o-transform:scale(@coeficient);
}

.h(){
  display:none;
}

.h-i(){
  display:none!important;
}

.show-i(){
  display: inline-block!important;
}

.block(){
  display:block;
}

.inline(){
  display:inline;
}

.inline-block(){
  display:inline-block;
}

.table(){
  display:table;
}

.table-row(){
  display:table-row;
}

.table-cell(){
  display:table-cell;
}

.flex(){
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.fix(){
  position:fixed;
}

.abs(){
  position:absolute;
}

.rel(){
  position:relative;
}

.ta-r(){
  text-align:right;
}

.ta-c(){
  text-align:center;
}

.ta-l(){
  text-align:left;
}

.ta-j(){
  text-align:justify;
}

.fl(){
  float:left;
}

.fr(){
  float:right;
}