/*
 * Importing variables and mixins to keep this file clean
 *
 */
 @import './variables.less';
 @import './mixins.less';

/*
 * Web fonts
 *
 */

 @font-face {
  font-family: 'PNL';
  src: url('./styleguide-assets/pnl-webfont.eot');
  src: url('./styleguide-assets/pnl-webfont.eot?#iefix') format('embedded-opentype'),
  url('./styleguide-assets/pnl-webfont.woff') format('woff'),
  url('./styleguide-assets/pnl-webfont.ttf') format('truetype'),
  url('./styleguide-assets/pnl-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PNL';
  src: url('./styleguide-assets/pnsb-webfont.eot');
  src: url('./styleguide-assets/pnsb-webfont.eot?#iefix') format('embedded-opentype'),
  url('./styleguide-assets/pnsb-webfont.woff') format('woff'),
  url('./styleguide-assets/pnsb-webfont.ttf') format('truetype'),
  url('./styleguide-assets/pnsb-webfont.svg#proxima_novalight') format('svg');
  font-weight: bold;
  font-style: bold;
}

/*
 * Headings: Generating all styles
 *
 */
 @font_size_selector:    "fs_h";
 @line_height_selector:  "lh_h";
 @mobile_font_size_selector:    "m_fs_h";
 @mobile_line_height_selector:  "m_lh_h";

 .generate_headings(@i) when (@i > 0) {
  .generate_headings((@i - 1));

  @font-size: ~"@{font_size_selector}@{i}";
  @line-height: ~"@{line_height_selector}@{i}";
  @mobile-font-size: ~"@{mobile_font_size_selector}@{i}";
  @mobile-line-height: ~"@{mobile_line_height_selector}@{i}";

  h@{i}{
    font-size: @@mobile-font-size;
    line-height: @@mobile-line-height;

    @media only screen and (min-width:@bp_md){
      font-size: @@font-size;
      line-height: @@line-height;
    }
  }
}

  //Generate headings
  .generate_headings(5);

/*
 * Headings: Global properties
 *
 */
 h1, h2, h3, h4, h5{
  font-family: @ff_light;
}

  //fixes h1 h2 first letter kerning
  h1 {
    margin-left: -2px;
  }

  h2 {
    margin-left: -1px;
  }

  h4{
    .b();
  }

  h5{
    .b();
  }

/*
 * Paragraphs & other typographical elements
 *
 */
 body {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

p{
  margin-bottom:20px;
  font-size: @m_fs_body;
  line-height: @m_lh_body;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_body;
    line-height: @lh_body;
  }
}

.ols-label-lg{
  font-size: @m_fs_h2;
  line-height: @m_lh_h2;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_h2;
    line-height: @lh_h2;
  }
}

.ols-label-md{
  font-size: @m_fs_h4;
  line-height: @m_lh_h4;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_h4;
    line-height: @lh_h4;
  }
}

.ols-labels-sm{
  font-size: @m_fs_body + 1;
  line-height: @m_lh_body + 2;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_body + 1;
    line-height: @lh_body + 2;
  }
}

/*
 * Layout and scaffolding
 *
 */
.container-fluid, .row-fluid{
  .clearfix();
}

.container-height-xs {
  display:table;
  padding-left:0px;
  padding-right:0px;
}

.row-height-xs{
  display:table-row;
}

.col-height-xs{
  display:table-cell;
  float:none;
}

@media only screen and (min-width: @bp_sm) {
  .container-height-sm {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-sm {
    display:table-row;
  }

  .col-height-sm {
    display:table-cell;
    float:none;
  }
}

@media only screen and (min-width: @bp_md) {
  .container-height-md {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-md {
    display:table-row;
  }

  .col-height-md {
    display:table-cell;
    float:none;
  }
}

@media only screen and (min-width: @bp_lg) {
  .container-height-lg {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-lg {
    display:table-row;
  }

  .col-height-lg {
    display:table-cell;
    float:none;
  }
}

.height-top{
  [class*='col-height-']{
    vertical-align: top;
  }
}

.height-bottom{
    [class*='col-height-']{
    vertical-align: bottom;
  }
}

.height-center{
  [class*='col-height-']{
    vertical-align: center;
  }
}

/*
 * Lists
 *
 */
 .ols-company-result{
  padding:0;
  list-style-type: none;

  li{
    padding: 15px;
    .col(@col_gray_3, b);
    .clearfix();

    @media only screen and (min-width:@bp_md){
      padding: 30px;
    }

    &:nth-child(even){
      .col(@w, b);
    }

    figure{
      img{
        max-width: 77px;
        .fl();
        .border-radius(50%);
        border: 2px solid @col_base_3;

        @media only screen and (min-width:@bp_md){
          max-width: 85px;
        }
      }

      figcaption{
        .fl();
        margin-left:30px;
      }
    }

    [class*='ols-label']{
      margin:0;
      font-weight: 300;

      &:nth-child(1){
        .b();
      }

      &:nth-last-child(2){
        margin-bottom: 20px;
      }
    }

    .ols-label-md{
      line-height: 16px;

      @media only screen and (min-width:@bp_md){
        line-height: 22px;
      }
    }
  }
}

/*
 * Global properties
 * Can be added as a class to any element
 *
 */
 .bold{
  .b();
}

.silent{
  font-weight: 300;
  color: @col_gray_5;
}