/*
 * Importing variables and mixins to keep this file clean
 *
 */
 @import './variables.less';
 @import './mixins.less';

/*
 * Web fonts
 *
 */

 @font-face {
  font-family: 'PNL';
  src: url('./styleguide-assets/fonts/pnl-webfont.eot');
  src: url('./styleguide-assets/fonts/pnl-webfont.eot?#iefix') format('embedded-opentype'),
  url('./styleguide-assets/fonts/pnl-webfont.woff') format('woff'),
  url('./styleguide-assets/fonts/pnl-webfont.ttf') format('truetype'),
  url('./styleguide-assets/fonts/pnl-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PNL';
  src: url('./styleguide-assets/fonts/pnsb-webfont.eot');
  src: url('./styleguide-assets/fonts/pnsb-webfont.eot?#iefix') format('embedded-opentype'),
  url('./styleguide-assets/fonts/pnsb-webfont.woff') format('woff'),
  url('./styleguide-assets/fonts/pnsb-webfont.ttf') format('truetype'),
  url('./styleguide-assets/fonts/pnsb-webfont.svg#proxima_novalight') format('svg');
  font-weight: bold;
  font-style: bold;
}

//icons
@font-face {
  font-family: 'ols';
  src: url('./styleguide-assets/fonts/ols.eot');
  src: url('./styleguide-assets/fonts/ols.eot?#iefix') format('embedded-opentype'),
  url('./styleguide-assets/fonts/ols.woff') format('woff'),
  url('./styleguide-assets/fonts/ols.ttf') format('truetype'),
  url('./styleguide-assets/fonts/ols.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ols-icon{
  &:after{
    font-family:"ols";
    .inline-block();
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    line-height:1;
    .rel();
    top:1px;
  }
}

/*
 * Headings: Generating all styles
 *
 */
 @font_size_selector:    "fs_h";
 @line_height_selector:  "lh_h";
 @mobile_font_size_selector:    "m_fs_h";
 @mobile_line_height_selector:  "m_lh_h";

 .generate_headings(@i) when (@i > 0) {
  .generate_headings((@i - 1));

  @font-size: ~"@{font_size_selector}@{i}";
  @line-height: ~"@{line_height_selector}@{i}";
  @mobile-font-size: ~"@{mobile_font_size_selector}@{i}";
  @mobile-line-height: ~"@{mobile_line_height_selector}@{i}";

  h@{i}{
    font-size: @@mobile-font-size;
    line-height: @@mobile-line-height;

    @media only screen and (min-width:@bp_md){
      font-size: @@font-size;
      line-height: @@line-height;
    }
  }
}

  //Generate headings
  .generate_headings(5);

/*
 * Headings: Global properties
 *
 */
  h1, h2, h3, h4, h5{
    font-family: @ff_light;
  }

  //fixes h1 h2 first letter kerning
  h1 {
    margin-left: -2px;
  }

  h2 {
    margin-left: -1px;
  }

  h4{
    .b();
  }

  h5{
    .b();
  }

/*
 * Paragraphs & other typographical elements
 *
 */
 body {
  .light();
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

p{
  margin-bottom:20px;
  font-size: @m_fs_body;
  line-height: @m_lh_body;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_body;
    line-height: @lh_body;
  }
}

.ols-label-lg{
  font-size: @m_fs_h2;
  line-height: @m_lh_h2;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_h2;
    line-height: @lh_h2;
  }
}

.ols-label-md{
  font-size: @m_fs_h4;
  line-height: @m_lh_h4;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_h4;
    line-height: @lh_h4;
  }
}

.ols-labels-sm{
  font-size: @m_fs_body + 1;
  line-height: @m_lh_body + 2;

  @media only screen and (min-width:@bp_md){
    font-size: @fs_body + 1;
    line-height: @lh_body + 2;
  }
}

[class*='ols-label-']{
  .col(@col_text);
}

/*
 * Layout and scaffolding
 *
 */
.container-fluid, .row-fluid{
  .clearfix();
}

.container-height-xs {
  display:table;
  padding-left:0px;
  padding-right:0px;
}

.row-height-xs{
  display:table-row;
}

.col-height-xs{
  display:table-cell;
  float:none;
}

@media only screen and (min-width: @bp_sm) {
  .container-height-sm {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-sm {
    display:table-row;
  }

  .col-height-sm {
    display:table-cell;
    float:none;
  }
}

@media only screen and (min-width: @bp_md) {
  .container-height-md {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-md {
    display:table-row;
  }

  .col-height-md {
    display:table-cell;
    float:none;
  }
}

@media only screen and (min-width: @bp_lg) {
  .container-height-lg {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }

  .row-height-lg {
    display:table-row;
  }

  .col-height-lg {
    display:table-cell;
    float:none;
  }
}

.height-top{
  [class*='col-height-']{
    vertical-align: top;
  }
}

.height-bottom{
    [class*='col-height-']{
    vertical-align: bottom;
  }
}

.height-center{
  [class*='col-height-']{
    vertical-align: center;
  }
}
//sidebar: concat
.ols-aside-contact{
  .col(@col_gray_6, b);

  header{
    .clearfix();

    h5.ols-label-sm{
      .rel();
      top: 10px;
      margin-top: 5px;
      .col(@col_gray_4);
    }
  }

  .contact-body{
    margin-top: 20px;
    border-top: 1px solid #737375;

    dt{
      margin-top:20px;
    }

    dd{
      .col(@col_gray_4);
    }
  }
}

/*
 * Lists
 *
 */
.ols-company-result-list{
  padding:0;
  list-style-type: none;

  a{
    .clearfix(); //<a> is a parent, but it's not mandatory to nest the li as a child (much more flexible this way)
  }

  li{
    padding: 15px;
    .col(@col_gray_3, b);
    .animate(@animation_time_short, @transition_default);

    @media only screen and (min-width:@bp_md){
      padding: 30px;
    }

    &:nth-child(even){
      .col(@w, b);
    }

    &:hover{
      .col(@col_gray_4, b);
      .animate(@animation_time_short, @transition_default);
    }

    [class*='ols-label']{
      margin:0;
      .light();

      &:nth-child(1){
        .b();
      }

      &:nth-last-child(2){
        margin-bottom: 20px;
      }
    }

    .ols-label-md{
      line-height: 16px;

      @media only screen and (min-width:@bp_md){
        line-height: 22px;
      }
    }
  }
}

//project list: rectangular images on the right
.ols-company-project-list{
  li{
    padding:0;

    figcaption{
      padding:30px;
    }
  }
}

//uniform list (no alt. colors)
.ols-uniform-list{
  li{
    .col(@ws, b);
    border-top:@bst @col_gray_4;

    &:nth-child(even){
      .col(@ws, b);
    }

    &:hover{
      .col(@col_gray_4, b);
    }
  }
}

//service list
.ols-service-list{
  margin:0 0 20px 0;

  ul{
    list-style-type: none;
    padding: 0 10px 0 10px;

    @media only screen and (min-width:@bp_md){
      padding:0;
    }

    li{
      margin-top:20px;

      &:before{
        font-family: 'ols';
        content: '\E001';
        font-size: 11px;
        margin-right: 5px;
        .rel();
        top: 1px;
        .col(@col_gray_6);
      }
    }
  }
}

/*
 * Navigation
 *
 */
.ols-search-row{
  .stretch();
  height:@dropdown_size;
  .col(@w, b);
  border:@border_size solid @col_gray_2;
  border-left:none;
  .rel();
  letter-spacing: 2px;

  &:before{
    content:"";
    .col(@col_gray_7, b);
    .stretch(h);
    width:4px;
    .abs();
    left:0;
    top:0;
  }

  &:after{
    content:"";
    .col(@col_base_3, b);
    .stretch(h);
    width:4px;
    .abs();
    right:0;
    top:0;
  }

  [class*="ols-label-"]{
    .col(@col_gray_1, b);
    .col(@col_gray_7);
    .inline-block();
    .fl();
    padding:0 20px 0 20px;
    height: @dropdown_size - 2 * @border_size;
    line-height: @dropdown_size - 2 * @border_size;
  }

  .ols-large-search{
    .dropdown-toggle, .dropdown-menu{
      .col(@w, b);
      .col(@col_gray_6);
      font-family: @ff_light;
      font-size: @fs_h1;
      .light();
      padding: 0 0 0 20px;
      border: none;
      line-height: @dropdown_size - 2 * @border_size;
      .fl();

      &:active{
        .col(@col_gray_7);
      }
    }

    .dropdown-menu{
      padding:0px;
      font-size:@fs_h3;
      letter-spacing: 1px;
      min-width: 260px;
      .col(@col_gray_1, b);
      border:@bst @col_gray_2;
      border-top:none;
      margin-top:0;
      margin-left:-1px;

      li{
        a{
          padding:10px 20px 10px 20px;

          &:hover{
            .col(@col_gray_4, b);
          }
        }
      }
    }

    .ols-icon{
      &:after{
        font-size: 14px;
        top: -2px;
        margin-left:10px;
      }
    }
  }
}

/*
 * Global properties
 * Can be added as a class to any element
 *
 */
.round-image{ //figure
  img{
    max-width: 77px;
    .fl();
    .border-radius(50%);
    border: 2px solid @col_base_3;

    @media only screen and (min-width:@bp_md){
      max-width: 85px;
    }
  }

  figcaption{
    .fl();
    margin-left:30px;
  }
}

.rectangular-image{
  .rel();

  img{
    .fr();
  }
}

.no-padding{
  [class*='row-']{
    padding:0;
  }
}

.bold{
  .b();
}

.silent{
  .light();
  color: @col_gray_6;
}

.inverse{
  [class*="ols-label-"]{
    .col(@ws);
  }

  a{
    .col(@col_gray_4);

    &:hover{
      .col(@ws);
    }
  }
}