.svg-common() {
	background-repeat: no-repeat;
	background-image: url(../images/svg-sprite.svg);
}

.ols-icon-bounce-map-bottom {
	background-position: 0 0;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-bounce-map-bottom-sm {
	background-position: 0 5.159071367153913%;
	.svg-common();
	width: 42px;
	height: 42px;
}

.ols-icon-bounce-map-top {
	background-position: 0 8.908296943231441%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-bounce-map-top-sm {
	background-position: 0 13.929492691315563%;
	.svg-common();
	width: 42px;
	height: 42px;
}

.ols-icon-checkmark-gray {
	background-position: 0 17.410005632648883%;
	.svg-common();
	width: 36.26px;
	height: 33.26px;
}

.ols-icon-danger {
	background-position: 0 20.429184549356222%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-edit-cog {
	background-position: 0 24.27947598253275%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-edit-pen {
	background-position: 0 29.519650655021834%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-edit-single-cog {
	background-position: 0 34.163090128755364%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-geolocate {
	background-position: 0 37.66122098022356%;
	.svg-common();
	width: 42px;
	height: 42px;
}

.ols-icon-geolocate-sm {
	background-position: 0 41.06073567151412%;
	.svg-common();
	width: 36px;
	height: 36px;
}

.ols-icon-geolocate-white {
	background-position: 0 44.36801375752365%;
	.svg-common();
	width: 42px;
	height: 42px;
}

.ols-icon-geolocate-white-sm {
	background-position: 0 47.73310521813516%;
	.svg-common();
	width: 36px;
	height: 36px;
}

.ols-icon-location {
	background-position: 0 50.705523829035315%;
	.svg-common();
	width: 42.53px;
	height: 33.53px;
}

.ols-icon-lock-blue {
	background-position: 0 53.72112917023097%;
	.svg-common();
	width: 36px;
	height: 36px;
}

.ols-icon-lock-white {
	background-position: 0 56.800684345594526%;
	.svg-common();
	width: 36px;
	height: 36px;
}

.ols-icon-reveal {
	background-position: 0 59.624705070655274%;
	.svg-common();
	width: 38.39px;
	height: 30.99px;
}

.ols-icon-reveal-gray {
	background-position: 0 62.26522772378429%;
	.svg-common();
	width: 38.39px;
	height: 30.99px;
}

.ols-icon-reveal-white {
	background-position: 0 64.90575037691332%;
	.svg-common();
	width: 38.39px;
	height: 30.99px;
}

.ols-icon-success {
	background-position: 0 68.068669527897%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-user-blank {
	background-position: 0 72.75109170305677%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-wave-map {
	background-position: 0 76.11011676468081%;
	.svg-common();
	width: 52.41px;
	height: 31.7px;
}

.ols-image-contact-information {
	background-position: 0 80.78602620087337%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-image-inbox-message {
	background-position: 0 85.28138528138528%;
	.svg-common();
	width: 50px;
	height: 50px;
}

.ols-image-inbox-message-unread {
	background-position: 0 89.6103896103896%;
	.svg-common();
	width: 50px;
	height: 50px;
}

.ols-image-menu-projects {
	background-position: 0 94.75982532751091%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-image-menu-services {
	background-position: 0 100%;
	.svg-common();
	width: 60px;
	height: 60px;
}

