.svg-common() {
	background-repeat: no-repeat;
	background-image: url(images/svg-sprite.svg);
}

.ols-icon-checkmark-gray {
	background-position: 0 0;
	.svg-common();
	width: 36.26px;
	height: 33.26px;
}

.ols-icon-danger {
	background-position: 0 5.5464926590538335%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-edit-cog {
	background-position: 0 12.478920741989882%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-edit-pen {
	background-position: 0 22.596964586846543%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-icon-edit-single-cog {
	background-position: 0 31.64763458401305%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-geolocate {
	background-position: 0 38.33363366807005%;
	.svg-common();
	width: 42.57px;
	height: 42.57px;
}

.ols-icon-location {
	background-position: 0 44.715644018273686%;
	.svg-common();
	width: 42.53px;
	height: 33.53px;
}

.ols-icon-reveal {
	background-position: 0 49.99919615440266%;
	.svg-common();
	width: 38.39px;
	height: 30.99px;
}

.ols-icon-reveal-gray {
	background-position: 0 54.983038857896176%;
	.svg-common();
	width: 38.39px;
	height: 30.99px;
}

.ols-icon-success {
	background-position: 0 60.848287112561174%;
	.svg-common();
	width: 40px;
	height: 40px;
}

.ols-icon-user-blank {
	background-position: 0 69.64586846543001%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-image-contact-information {
	background-position: 0 79.76391231028668%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-image-menu-projects {
	background-position: 0 89.88195615514334%;
	.svg-common();
	width: 60px;
	height: 60px;
}

.ols-image-menu-services {
	background-position: 0 100%;
	.svg-common();
	width: 60px;
	height: 60px;
}

